:root{
    --primary: #BE5683;
    --secondary: #DFD3C3;
    --black: #010101;
    --white: #fff;
}

*{
    margin: 0;
    padding: 0;
}

.primary-button{
    color: var(--white);
    background-color: var(--primary);
    padding: 0.5rem;
    border: 1px solid var(--secondary);
    border-radius: 1rem;
}

.active{
    color: var(--black);
    font-weight: bold;
}